{% extends 'layouts/base.html' %}

{% load widget_tweaks %}

{% block content %}


{% load static %}


    <script src="https://cdn.rawgit.com/serratus/quaggaJS/0420d5e0/dist/quagga.min.js"></script>

<!-- Scan page view -->
    <div class="container mt-5">
      
        <div class="row align-items-md-stretch">
            <div class="col-md-6">
              <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>Request authorization</h2>
                <p>If you did not accept our pop up authorization for your current location, please request another by pressing the button below.</p>
                <button class="btn btn-outline-light" type="button">Request Authorization</button>
              </div>
            </div>

            <div class="col-md-6">
              <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Scan Now</h2>
                <p>Scan any barcode now in only a little click.  You just have to click on the button below. No panic and just click, await an outcome below quickly. </p>
                <button id="scan-button" class="btn btn-outline-secondary" type="button">Start Now</button>
              </div>
            </div>
        </div>

        
    </div>

    <div class="">
        <div class="mx-5 my-4">
            <div class="" id="interactive" class="viewport"></div>
        </div>
        <div class=" mx-5 bg-light mt-2">
            <p>Once the Barcode number gotten, w'll load all the data to be validated below.</p>
        </div>
        <!-- add form validation here -->
    </div>

    <form id="my-form" method="post">
        {% csrf_token %}
        <input type="hidden" id="hidden-barcode-field" name="{{ form.barcode_number.name }}" value="{{ form.barcode_number.value|default:'' }}">
        <!-- <input type="hidden" id="hidden-gps-field" name="{{ form.gps_position.name }}" value="{{ form.gps_position.value|default:'' }}"> -->
        <input type="hidden" id="hidden-lat-field" name="{{ form.latitude.name }}" value="{{ form.gps_position.value|default:'' }}">
        <input type="hidden" id="hidden-lng-field" name="{{ form.longitude.name }}" value="{{ form.gps_position.value|default:'' }}">
        <button id="submit-button" type="submit" class="btn btn-outline-dark w-100 mx-4">Submit</button>
    </form>
    <!-- <form id="my-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" id="hidden-barcode-field" name="barcode_number">
        <input type="hidden" id="hidden-gps-field" name="gps_position">
        <input type="hidden" id="hidden-lat-field" name="gps_position">
        <input type="hidden" id="hidden-lng-field" name="gps_position">
        <button id="submit-button" type="submit">Submit</button>
    </form> -->
    

    <script>
        var scanning = false;

        // Initialize QuaggaJS for barcode scanning
        Quagga.init({
            inputStream: {
                name: "Live",
                type: "LiveStream",
                target: document.querySelector('#interactive'),
                constraints: {
                    facingMode: "environment",
                    width: 1115,
                    height: 400
                },
            },
            decoder: {
                readers: [
                    "code_128_reader",
                    "ean_reader",
                    "ean_8_reader",
                    "code_39_reader",
                    "code_39_vin_reader",
                    "codabar_reader",
                    "upc_reader",
                    "upc_e_reader",
                    "i2of5_reader"
            ], // barcode format
            // debug: {
            //             showCanvas: true,
            //             showPatches: true,
            //             showFoundPatches: true,
            //             showSkeleton: true,
            //             showLabels: true,
            //             showPatchLabels: true,
            //             showRemainingPatchLabels: true,
            //             boxFromPatches: {
            //                 showTransformed: true,
            //                 showTransformedBox: true,
            //                 showBB: true
            //             }
            //         }
            //     },
            }
        }, function(err) {
            if (err) {
                console.log(err);
                return;
            }
            console.log("Quagga initialized. . Ready to start");
            // Start Quagga when the "Scan Barcode" button is clicked
            document.querySelector('#scan-button').addEventListener('click', function() {
                console.log('Scanning!');
                if (!scanning) {
                    Quagga.start();
                    scanning = true;
                    // Draw box on camera start
                    // var canvas = document.getElementById('canvas');
                    // var context = canvas.getContext('2d');
                    // context.beginPath();
                    // context.rect(20, 20, 760, 760); // Adjust these values to change the position and size of the box
                    // context.lineWidth = 3;
                    // context.strokeStyle = 'red';
                    // context.stroke();
                }
            });
        });

        // Event handler for barcode detection
        Quagga.onDetected(function(result) {
            // console.log("Barcode number: " + result.codeResult.code);
            // document.querySelector('#hidden-barcode-field').value = result.codeResult.code;
            // // Stop Quagga after a barcode is detected
            // Quagga.stop();
            // scanning = false;
            console.log("Barcode number: " + result.codeResult.code);
            document.querySelector('#hidden-barcode-field').value = result.codeResult.code;
            console.log("Barcode: " + result.codeResult);

            // Draw box for detected barcode
            var canvas = document.getElementById('canvas');
            var context = canvas.getContext('2d');
            context.beginPath();
            context.rect(result.line[0].x, result.line[0].y, result.line[2].x - result.line[0].x, result.line[2].y - result.line[0].y);
            context.lineWidth = 3;
            context.strokeStyle = 'green';
            context.stroke();
        });

        // Get GPS position
        navigator.geolocation.getCurrentPosition(function(position) {
            console.log("Latitude: " + position.coords.latitude);
            console.log("Longitude: " + position.coords.longitude);
            // document.querySelector('#hidden-gps-field').value = position.coords.latitude + ', ' + position.coords.longitude; 
            document.querySelector('#hidden-lat-field').value = position.coords.latitude;
            document.querySelector('#hidden-lng-field').value = position.coords.longitude;
        });

        // Insert data into form and submit
        document.querySelector('#submit-button').addEventListener('click', function(e) {
            e.preventDefault();
            document.querySelector('#my-form').submit();
        });

        document.getElementById("btn-stop-start").addEventListener("click", function () {
            if (scanning) {
                Quagga.stop();
            } else {
                // add start logic here!!
                // startScanner();
                
            }
        }, false);
    </script>



{% endblock %}
