{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-dark text-white">
    <div class="container-fluid mx-3">
        <a class="navbar-brand text-white mx-4" href="{% url 'index'%}">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ms-auto justify-content-center" id="navbarSupportedContent">

            <ul class="navbar-nav  mb-lg-0 col-12 col-md-auto mb-2 justify-content-center mb-md-0 me-5">
                <li nav-item><a href="{% url 'index'%}" class="nav-link px-2 active text-white" aria-current="page">Home</a></li>
                <li nav-item><a href="#about" class="nav-link px-2 text-white">About</a></li>
                <li nav-item><a href="#features" class="nav-link px-2 text-white">Features</a></li>
                <li nav-item><a href="#contact" class="nav-link px-2 text-white">Contact</a></li>
                {% if user.is_authenticated %}
                <li nav-item><a href="{% url 'scanner' %}" class="nav-link px-2 text-white me-5">Scan Now</a></li>
                {% endif %}

            </ul>
            <!-- <div class="ms-5"> -->
                {% if user.is_authenticated %}
                <div class="col-md-3 text-end">
                    <div class="row">
                        <div class="col">
                            <h5 class="mt-2">{{ request.user.username }}</h5>
                        </div>
                        <div class="col"><a href="{% url 'account_logout' %}" type="button" class="btn btn-outline-light">Sign Out</a></div>
                    </div>
                </div>
                {% else %}
                <div class="col-md-3 text-end">
                    <a href="{% url 'account_login' %}" type="button" class="btn btn-outline-light me-2">Sign In</a>
                    <a href="{% url 'account_signup' %}" type="button" class="btn btn-warning">Sign Up</a>
                </div>
                {% endif %}
            <!-- </div> -->
        </div>
    </div>
</nav>
