{% extends 'layouts/base.html' %}
{% load static %}
{% load widget_tweaks %}


<!-- Block content -->

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
<!-- home page view -->
<style>
  .icon-link {
      display: inline-flex;
      align-items: center;
    }
    .icon-link > .bi {
      margin-top: .125rem;
      margin-left: .125rem;
      transition: transform .25s ease-in-out;
      fill: currentColor;
    }
    .icon-link:hover > .bi {
      transform: translate(.25rem);
    }
</style>

<!-- home -->
<div id="hero" class="d-flex align-items-center py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Elegant and creative solutions</h1>
          <h2>We are team of talented designers making websites with Bootstrap</h2>
          <div class="d-flex my-2">
            <button href="#home" class="btn btn-outline btn-get-started">Get Started</button>
            <button href="https://www.youtube.com/" class="ms-2 btn btn btn-dark glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></button>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="{% static 'assets/images/hero-img.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
</div>

<!-- about us section -->
<div class="py-5 bg-dark text-white">
<div class="container ">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4 text-white">About us page</h1>
        <p class="lead text-muted mb-0 text-white">Create a minimal about us page using Bootstrap 5.</p>
        <p class="lead text-muted ">Snippet by <a href="https://bootstrapious.com/snippets" class="text-muted"> 
                    <u>Bootstrapious</u></a>
        </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>
</div>

<!-- our features -->
<div style="background-color: rgba(0, 0, 0, 0.05);">
<div class="container px-4 py-5" id="featured-3" >
    <!-- <h2 class="pb-2 border-bottom">Columns with icons</h2> -->
    <div class="row text-center">
        <div class="col-sm-12 col-md-12 col-md-12">
            <h2>Our Features</h2>
            <h2 style="font-size: 60px;line-height: 60px;margin-bottom: 20px;font-weight: 900;">Our Services</h2>
            <p>Our <span class="highlight">experienced</span> and <span class="highlight">dedicated</span> staff provide these services with a smile.</p>
        </div>
    </div>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon bg-dark bg-gradient">
          <!-- <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg> -->
          <i class="bi bi-upc-scan" width="1em" height="1em"></i>
        </div>
        <h2>Itegrated Scanning</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class=" text-dark">
          Learn more
          <!-- <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg> -->
          <i class="bi bi-chevron-right"></i>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-dark bg-gradient">
          <!-- <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg> -->
          <i class="bi bi-upc" width="1em" height="1em"></i>
        </div>
        <h2>Barcode Scanning</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class=" text-dark">
          Learn more
          <!-- <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg> -->
          <i class="bi bi-chevron-right"></i>
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon bg-dark bg-gradient">
          <!-- <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg> -->
          <i class="bi bi-qr-code" width="1em" height="1em"></i>
        </div>
        <h2>QR Scanning</h2>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class=" text-dark">
          Learn more
          <!-- <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg> -->
          <i class="bi bi-chevron-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- contact section -->
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-3">
            <h2 class="heading-section">Contact Us</h2>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-md-12">
            <div class="wrapper">
                <div class="row no-gutters">
                    <div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
                        <div class="contact-wrap w-100 p-md-5 p-4">
                            <h3 class="mb-4">Get in touch</h3>
                            <div id="form-message-warning" class="mb-4"></div> 
                      <!-- <div id="form-message-success" class="mb-4">
                    Your message was sent, thank you!
                      </div> -->
                            <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="label" for="name">Full Name</label>
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6"> 
                                        <div class="form-group">
                                            <label class="label" for="email">Email Address</label>
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="label" for="subject">Subject</label>
                                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="label" for="#">Message</label>
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-2">
                                        <div class="form-group">
                                            <input type="submit" value="Send Message" class="btn btn-dark">
                                            <div class="submitting"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-5 d-flex align-items-stretch">
                        <div class="info-wrap bg-dark w-100 p-md-5 p-4">
                            <h3>Let's get in touch</h3>
                            <p class="mb-4">We're open for any suggestion or just to have a chat</p>
                    <div class="dbox w-100 d-flex align-items-start">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <!-- <span class="fa fa-map-marker"></span> -->
                        </div>
                        <div class="text pl-3">
                        <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
                      </div>
                  </div>
                    <div class="dbox w-100 d-flex align-items-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <!-- <span class="fa fa-phone"></span> -->
                        </div>
                        <div class="text pl-3">
                        <p><span>Phone:</span> <a class="text-muted ms-2" href="tel://1234567920">+ 1235 2355 98</a></p>
                      </div>
                  </div>
                    <div class="dbox w-100 d-flex align-items-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <!-- <span class="fa fa-paper-plane"></span> -->
                        </div>
                        <div class="text pl-3">
                        <p><span>Email:</span> <a class="text-muted ms-2" href="mailto:info@yoursite.com">info@yoursite.com</a></p>
                      </div>
                  </div>
                    <div class="dbox w-100 d-flex align-items-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-globe"></span>
                        </div>
                        <div class="text pl-3">
                        <p><span>Website</span> <a class="text-muted ms-2" href="#">yoursite.com</a></p>
                      </div>
                  </div>
              </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
